
/*----Main Element Styles----*/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
    color: #777777;
    background-image: url("../images/dust_scratches.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

article{
    display: -ms-grid;
    display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns:1fr minmax(10rem, 960px) 1fr;
    min-height: 100%;
    height: 100vh;
}

p{
    line-height: 1.5rem;
}

a{
    color: #777777;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc7a;
    padding: 0;
    width: 90%;
}

.bodyContainer {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;

}

footer.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
    background-color: #666666;
    color: #4aaaa5;
    border-top: 10px solid;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: 1/-1;
    -webkit-box-shadow: 0px 1px 12px 1px #0000001a;
            box-shadow: 0px 1px 12px 1px #0000001a;
}


/*-------Navbar Styles--------*/
.navbar-row {
    background-color: white;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    -webkit-box-shadow: 0px 1px 12px 1px #0000001a;
            box-shadow: 0px 1px 12px 1px #0000001a;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(5rem, 960px) 1fr;
}

.navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column: 2/3;
}

a.navbar-link, a.navbar-link:link, a.navbar-link:visited { 
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    cursor: pointer;
}

.navbar-link:hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #4aaaa5;
}

.navbar-link:hover::after{
    -webkit-transform: scaleX(1.4) scaleY(1.6);
        -ms-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.navbar-link:active, .navbar-link:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar-item{
    margin: 0 2.5rem;
}

.navbar-item::before{
    content: "";
    display: block;
    position: relative;
    top: 2.6rem;
    height: 2px;
    background-color: #4aaaa5;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transition: width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    transition: width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    -o-transition: transform 0.2s,width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s;
    transition: transform 0.2s,width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s;
    transition: transform 0.2s,width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    width:100%;
}

.navbar-item:hover::before{
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
        transform: scaleX(1);
    width: 100%;
}

div#topNavLogo {
    padding: 1.2rem 3rem;
    background-color: #4aaaa5;
    color: white;
    letter-spacing: 2px
}

div#topNavLogo a {
    color: white;
}

div#myTopNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

ul.navBarList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*---------Main (body styles)------------*/

.site-content {
    margin: 2rem 0;
}


.main-container {
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 12px 1px #0000001a;
            box-shadow: 0px 1px 12px 1px #0000001a;
    border: solid 1px #dddddd;
    border-radius: 5px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.main-container:hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 3px 3px 18px 2px #0000002e;
            box-shadow: 3px 3px 18px 2px #0000002e;
}

.main-container:hover::after{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transform: scaleX(1.6) scaleY(1.8);
        -ms-transform: scaleX(1.6) scaleY(1.8);
            transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
}

h1.main-container__header {
    padding: 1.25rem 1rem .75rem 1rem;
    margin-left: 2rem;
    color: #4aaaa5;
}

.info-container {
    padding: 1rem;
}

figure.info-container-img__shape{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    width: 14rem;
    height: 14rem;
    float: left;
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
        transform: translateX(2rem);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img.info-container__img {
    height: 100%;
    -webkit-transform: translateX(0rem) translateY(1rem) scale(1.25);
    -ms-transform: translateX(0rem) translateY(1rem) scale(1.25);
        transform: translateX(0rem) translateY(1rem) scale(1.25);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #4aaaa5;
}

.info-container-img__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%);
    color: #fff;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.main-container:hover .info-container-img__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.main-container:hover .info-container__img {
    -webkit-transform: translateX(0rem) scale(1);
        -ms-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
            filter: blur(3px) brightness(80%);
}

.info-container__text {
    padding: 2rem;
    text-align: justify;
    width: 86%;
    position: relative;
    left: 3rem;
}

/*-----------Social Sidebar------------*/

.social-sidebar {
    position: fixed;
    top: 15rem;
    left: 0;
    z-index: 9999;
    background-color: #4aaaa5;
    border-radius: 0 8px 8px 0;
}

.social-sidebar > .social-sidebar__list svg {
    height: 2rem;
    width: 2rem;
    fill: #ffffff;
    position: relative;
    left: 5px;
    padding: 0;
    margin: .25rem;
    padding-right: .25rem;
}

#github{
    margin-top: 1rem;
}

#stackoverflow{
    position: relative;
    bottom: 10px;
}

#stackoverflow:hover{
    fill: #F48024;
}

#linkedin:hover {
    fill: #0077B5;
}

#github:hover {
    fill: #000000;
}

#emailenv:hover {
    fill: #bd081b;
}

#phone:hover{
    fill: green;
}

/*-------Skills Section -----------*/
section.skills-section {
    margin: 3rem 0;
}

/*------------Contact----------------*/

.contactContainer {
    padding: 2rem;
}

input[type=text], textarea, input[type=email] {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #63ada9;
}


input[type=text]:focus, textarea:focus, input[type=email]:focus {
    outline: none !important;
    border:1px solid #4aaaa5;
    -webkit-box-shadow: 0 0 10px #4aaaa5;
            box-shadow: 0 0 10px #4aaaa5;
}


/*--------Portfolio Gallery ------------*/

.portfolio-container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 12px 1px #0000001a;
            box-shadow: 0px 1px 12px 1px #0000001a;
    border: solid 1px #dddddd;
    border-radius: 5px;

}

.portfolio-grid{
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}


.portfolio-grid__card{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    border: 3px solid #4aaaa5;
    border-radius: 3px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.portfolio-grid__label{
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40%;
    background-color: #4aaaa5;
    margin-top: 4.5rem;
    color: #fff;
    font-size: 1.1rem
}

.portfolio-grid__img{
    width: 100%;
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin: 0 auto;
}

.portfolio-grid__card:hover{
    -webkit-transform: translateY(-3px) scale(1.05);
        -ms-transform: translateY(-3px) scale(1.05);
            transform: translateY(-3px) scale(1.05);
    -webkit-box-shadow: 3px 3px 18px 2px #00000066;
            box-shadow: 3px 3px 18px 2px #00000066;
    border: 3px solid #777777;
}

.portfolio-grid__card:hover::after{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transform: scaleX(1.6) scaleY(1.8);
        -ms-transform: scaleX(1.6) scaleY(1.8);
            transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
}

.portfolio-grid__card:active, .portfolio-grid__card:focus{
    outline: none;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


/*-------------Media Queries---------------*/
@media only screen and (max-width: 860px) {
    .main-container {
        margin: 0 2rem;
    }

    .portfolio-container {
        margin: 0 2rem;
    }

    div#topNavLogo {
        padding: 1.95rem 3rem;
        align-self: center;
    }

    h1 { font-size: 1.75em; }

}


@media only screen and (max-width: 659px) {


    figure.info-container-img__shape {
        float: none;
        transform: none;
    }

    .portfolio-grid{
        padding: 1rem;
    }

    .portfolio-grid__label {
        height: 20%;
    }

    .info-container {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-container__text {
        padding: 2rem;
        text-align: justify;
        width: 100%;
        position: relative;
        left: initial;
    }

    h1.main-container__header {
        text-align: center;
        margin-left: initial;
    }

    div#topNavLogo {
        padding: 1rem 1rem;
        align-self: center;
    }

    h1{
        font-size: 1.25rem;
    }

    .social-sidebar{
        display: none;
    }

}


