/*----Main Element Styles----*/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
    height: 100%;
    color: #777777;
/*    height: 100%;*/
    background-image: url("../images/dust_scratches.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 80vh auto;
}

p{
    line-height: 1.5rem;
}

a{
    color: #777777;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc7a;
    padding: 0;
    width: 90%;
}

footer.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #666666;
    color: #4aaaa5;
    border-top: 10px solid;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 0px 1px 12px 1px #0000001a;
}


/*-------Navbar Styles--------*/
.navbar-row {
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 12px 1px #0000001a;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}

a.navbar-link, a.navbar-link:link, a.navbar-link:visited { 
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: all .2s;
    position: relative;
    cursor: pointer;
}

.navbar-link:hover{
    transform: translateY(-3px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #4aaaa5;
}

.navbar-link:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.navbar-link:active, .navbar-link:focus {
    outline: none;
    transform: translateY(-1px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar-item{
    margin: 0 2.5rem;
}

.navbar-item::before{
    content: "";
    display: block;
    position: relative;
    top: 2.6rem;
    height: 2px;
    background-color: #4aaaa5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    transition: width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    transition: transform 0.2s,width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s;
    transition: transform 0.2s,width 0.6s cubic-bezier(1, 0, 0, 1) 0.6s,background-color 0.1s,-webkit-transform 0.2s;
    width:100%;
}

.navbar-item:hover::before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    width: 100%;
}

div#topNavLogo {
    padding: 1.2rem 3rem;
    background-color: #4aaaa5;

    color: white;
    letter-spacing: 2px
}

div#myTopNav {
    display: flex;
    align-items: center;
}

ul.navBarList {
    display: flex;
}

/*---------Main (body styles)------------*/

.site-content {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}


.main-container {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 12px 1px #0000001a;
    border: solid 1px #dddddd;
    border-radius: 5px;
    transition: all .4s;
}

.main-container:hover{
    transform: translateY(-3px);
    box-shadow: 3px 3px 18px 2px #0000002e;
}

.main-container:hover::after{
    transform: translateY(-3px);
    transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
}

/*
.main-container:active, .main-container:focus{
    outline: none;
    transform: translateY(-1px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
*/


h1.main-container__header {
    padding: 1.25rem 1rem .75rem 1rem;
    margin-left: 2rem;
    color: #4aaaa5;
}

.info-container {
    padding: 1rem;
}

figure.info-container-img__shape{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    width: 14rem;
    height: 14rem;
    float: left;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img.info-container__img {
    height: 100%;
    -webkit-transform: translateX(0rem) translateY(1rem) scale(1.25);
    transform: translateX(0rem) translateY(1rem) scale(1.25);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #4aaaa5;
}

.info-container-img__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    color: #fff;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .main-container:hover .info-container-img__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .main-container:hover .info-container__img {
        transform: translateX(0rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

.info-container__text {
    padding: 2rem;
    text-align: justify;
    width: 86%;
    position: relative;
    left: 3rem;
}

/*-------Skills Section -----------*/
section.skills-section {
    margin: 3rem 0;
}

/*------------Contact----------------*/

.contactContainer {
    padding: 2rem;
}

input[type=text], textarea, input[type=email] {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #63ada9;
}


input[type=text]:focus, textarea:focus, input[type=email]:focus {
    outline: none !important;
    border:1px solid #4aaaa5;
    box-shadow: 0 0 10px #4aaaa5;
}


/*--------Portfolio Gallery ------------*/

.portfolio-container {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 12px 1px #0000001a;
    border: solid 1px #dddddd;
    border-radius: 5px;
}

.portfolio-grid{
    padding: 2rem;
    
}

.portfolio-grid__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.portfolio-grid__card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: 3px solid #4aaaa5;
    border-radius: 3px;
    transition: all .2s;
}

.portfolio-grid__label{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #4aaaa5;
    margin-top: 4.5rem;
    color: #fff;
    font-size: 1.1rem
}

.portfolio-grid__img{
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    margin: 0 auto;
}

.portfolio-grid__card:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 3px 3px 18px 2px #00000066;
    border: 3px solid #777777;
}

.portfolio-grid__card:hover::after{
    transform: translateY(-3px);
    transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
}

.portfolio-grid__card:active, .portfolio-grid__card:focus{
    outline: none;
    transform: translateY(-1px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}